<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:fragment="bootstrap_link">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/homepageStylesheet.css">
  </span>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 40%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: green;
        }
    </style>
</head>
<body style="background-color: lightblue">

    <h3 text align="center"><strong>Welcome To My Page </strong></h3>
<div class="container">
    <a href="/addsong" >Click Here to Add Song</a><br/>
    <table>
        <tr>
            <th>ID</th><b/>
            <th>Name</th>
            <th>Album</th>
            <th>Rating</th>
            <th>Year</th>
            <td style="background-color: red">Action</td>


        </tr>
    </table>

</div>



</body>
</html>